<div class="container">
  <div class="page-header">
    <h1>Shopping malls</h1>
  </div>
  <br>

  <div class="row">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Shopping mall name</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Certification</th>
        <th>City</th>
        <th>Country</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% if @shopping_malls.count == 0%>
          <tr>
            <td colspan="9"><i>No data</i></td>
          </tr>
      <% end %>
      <% @shopping_malls.each do |shopping_mall| %>
          <tr>
            <td><%= link_to shopping_mall.shopping_mall_name, shopping_mall_path(shopping_mall.id) %></td>
            <td><%= shopping_mall.phone_number %></td>
            <td><%= shopping_mall.address %></td>

            <td><%= City.find(shopping_mall.City).city_name %></td>
            <td><%= Country.find(shopping_mall.Country).country_name %></td>
            <td><%= link_to 'View stores', view_store_path(:shopping_mall_id => shopping_mall.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>